SPIDERHUB_LOG_LEVEL=INFO
SPIDERHUB_MYSQL_HOST=127.0.0.1
SPIDERHUB_MYSQL_PORT=3306
SPIDERHUB_MYSQL_USER=
SPIDERHUB_MYSQL_PASSWORD=
SPIDERHUB_MYSQL_DATABASE=spiderhub
SPIDERHUB_OBEY_ROBOTS=true
SPIDERHUB_REQUEST_DELAY_SECONDS=1.0
